@charset "UTF-8";
.container .header {
    background-color: #023562;
    visibility: visible;
    float: none;
    background-position: 0 0%;
    font-family: "Lucida Console", "Courier New", monospace;
}
.container .intro .column {
    font-family: "Lucida Console", "Courier New", monospace;
}
.column div img {
    float: right;
    clear: right;
}

.intro .column div {
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
}
