@charset "UTF-8";
/* Body */
body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #023562;
    margin: 0;
    background-image: -webkit-linear-gradient(270deg,rgba(2,53,98,1.00) 64.41%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(2,53,98,1.00) 64.41%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(2,53,98,1.00) 64.41%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(2,53,98,1.00) 64.41%,rgba(255,255,255,1.00) 100%);
}
/* Container */
.container {
	font-family: "Lucida Console", "Courier New", monospace;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
/* Header */
header {
	width: 100%;
	height: 8%;
	background-color: #023562;
	border-bottom: 5px solid #023562;
	font-family: "Lucida Console", "Courier New", monospace;
}
.logo {
    color: #FFFFFF;
    font-weight: normal;
    margin-left: auto;
    letter-spacing: 4px;
    margin-right: auto;
    text-align: center;
    padding-top: 15px;
    line-height: 2em;
    font-size: 22px;
	font-family: "Lucida Console", "Courier New", monospace;
}
.hero_header {
    color: #FFFF;
    text-align: center;
    margin: 0;
    letter-spacing: 4px;
    font-family: "Lucida Console", "Courier New", monospace;
}
/* Middle part */
.intro {
	background-color: #E3E3B5;
	padding-bottom: 35px;
	font-family: "Lucida Console", "Courier New", monospace;
}
.column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
	font-family: "Lucida Console", "Courier New", monospace;
}
.intro .column h3 {
    color: #000000;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: normal;
}
.intro .column p {
	color: #000000;
	font-family: "Lucida Console", "Courier New", monospace;
}
.intro .column p {
    padding-left: 0px;
    padding-right: 30px;
    text-align: left;
    line-height: 20px;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 20px;
    width: 80%;
    margin-top: 4%;
    font-style: normal;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #000000;
    font-size: 16px;
}
footer {
    background-color: #244719;
    padding-top: 60px;
    padding-bottom: 1PX;
    color: #FFFFFF;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}
.intro {
	display: inline-block;
	background-color: #E3E3B5;
	font-family: "Lucida Console", "Courier New", monospace;
	
}
.profile {
	width: 50%;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
}
.intro .column p {
	width: 80%;
	margin-left: 0px;
}
.text_column {
	padding-left: 20px;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 100%;
}
.text_column {
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
.column {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.profile {
	width: 100%;
}
.intro .column p {
	width: 90%;
	text-align: center;
	padding-left: 0px;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 48%;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}
